@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.ttf');
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: Lato, sans-serif;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
}

.luxury_brand {
    padding-bottom: 60px;
}

.header {
    height: 75px;
    display: flex;
    justify-content: center;
    background-color: #222222;
}

.header_content {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 859px;
}

.header_logo {
    width: 111px;
    height: 38px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
    /*margin-left: 4.1666666667%;*/
}

.logo {
    width: 44px;
    height: 38px;
    flex-shrink: 0;
    /*margin-right: 4.1666666667%;*/
}

.search {
    width: 26px;
    height: 27px;
    flex-shrink: 0;
}

.header_user_menu {
    width: 159px;
    height: 29px;
    flex-shrink: 0;
    color: #E8E8E8;
}

.main {
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}

.main_content {
    max-width: 1600px;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 764px;
    height: 100%;
    background-image: url("../img/top_man.png");
    background-repeat: no-repeat;
    background-position: left;
}

.main_img {
    max-width: 800px;
    max-height: 764px;
}

.main_text {
    width: 377px;
    min-height: 93px;
    margin-bottom: 90px;
    margin-left: 54%;
    border-color: #F16D7F;
    border-left-style: solid;
    padding-left: 16px;
    border-left-width: 12px;
}

.main_title {
    font-family: Lato, sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.main_uptitle {
    font-weight: 900;
    line-height: normal;
    font-family: Lato, sans-serif;
    font-size: 32px;
}

.colored_text {
    color: #F16D7F;
}

.offer {
    padding: 65px 0 96px 0;
    display: flex;
    justify-content: center;
}

.offer_content {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.offer_item_left {
    max-width: 360px;
    width: 100%;
    height: 260px;
    text-align: center;
    background-image: url("../img/for_women.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer_item_center {
    max-width: 360px;
    width: 100%;
    height: 260px;
    text-align: center;
    background-image: url("../img/for_men.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer_item_right {
    max-width: 360px;
    width: 100%;
    height: 260px;
    text-align: center;
    background-image: url("../img/for_kids.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer_item_long {
    max-width: 1140px;
    width: 100%;
    height: 180px;
    background-image: url("../img/accessories.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer_item_text {
    text-align: center;
}

.offer_item_uptitle {
    font-size: 15px;
    color: #FFFFFF;
}


.offer_item_title {
    font-weight: 900;
    font-size: 22px;
}

.products {
    height: 100%;
    display: flex;
    justify-content: center;
}

.products_content {
    max-width: 1140px;
    width: 100%;
    height: 100%;
}

.products_text {
    text-align: center;
    padding-bottom: 48px;
}

.products_title {
    font-size: 30px;
    padding-bottom: 6px;
    color: #222;
}

.products_desc {
    color: #9F9F9F;
    font-size: 14px;
}

.products_items {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    gap: 30px;
}

.product_item {
    background-color: #F8F8F8;
    max-width: 360px;
    max-height: 581px;
    height: 100%;
}

.product_img {
    max-height: 420px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_item_text {
    display: flex;
    width: 328px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.product_item_img {
    width: auto;
    max-height: 420px;
}

.product_title {
    color: #000000;
    font-size: 13px;
}

.product_description {
    display: flex;
    flex-direction: column;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.product_item_price {
    font-size: 16px;
}

.browse_all {
    height: 48px;
    padding: 15px 39px;
    margin-top: 18px;
    border-style: solid;
    border-color: #FF6A6A;
    background-color: #FFFFFF;;
    color: #F26376;
    font-size: 16px;
}

.browse_all:hover {
    background-color: #F1E4E6;
}

@media (max-width: 1024px) {

    .luxury_brand {
        padding-bottom: 70px;
    }

    .header {
        height: 74px;
    }

    .header_content {
        max-width: 768px;
        gap: 424px;
    }

    .main_content {
        max-width: 768px;
        min-height: 368px;
        background-size: 386px 368px;
    }

    .main_text {
        margin-left: 55.19480519480519%;
        min-height: 92px;
    }

    .main_title {
        font-size: 44px;
    }

    .main_uptitle {
        font-size: 24px;
    }

    .offer {
        padding: 65px 0 110px 0;
    }

    .offer_content {
        max-width: 736px;
        gap: 20px;
    }

    .offer_item_left {
        max-width: 232px;
        max-height: 168px;
        background-size: 232px 168px;
    }

    .offer_item_center {
        max-width: 232px;
        max-height: 168px;
        background-size: 232px 168px;
    }

    .offer_item_right {
        max-width: 232px;
        max-height: 168px;
        background-size: 232px 168px;
    }

    .offer_item_long {
        max-width: 735px;
        max-height: 116px;
        background-size: 735px 116px;
    }

    .products_text {
        padding-bottom: 74px;
    }

    .products_title {
        padding-bottom: 3px;
    }

    .products_items {
        max-width: 768px;
        gap: 16px;
    }

    .products_content {
        max-width: 768px;
    }
}

